In [ ]:
def PlusSalarie(a):
    return a*1.25
return(PlusSalarie(1025))